# dependencies
node_modules/

# production build
dist/
build/
release/

# Electron build artifacts
*.blockmap
*.dmg
*.AppImage


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# coverage
coverage/

# cache
.cache/
.parcel-cache/

# TypeScript
*.tsbuildinfo
